.ballot {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e7eaec;

  .heading {
    border-bottom: 1px solid #E6ECF1;
    padding: 20px 0;

    > h1 {
      margin: 0;
      font-weight: 300;
    }

    > p {
      margin-top: 10px;
      padding: 0;
      color: #aaa;
    }
  }

  .votes {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .vote {
      margin: 10px 30px;
      padding: 20px;
      text-align: left;
      border: 1px solid #E6ECF1;
      background-color: white;

      .choice {
        display: flex;
        .type {
          width: 80px;
        }
        .amount {
          width: 60px;
        }
        .bar {
          flex-grow: 1;
          height: 10px;
          border-radius: 10px;
          margin: 5px;
        }
        &.yes .bar {
          background-color: $main-accent;
        }
        &.no .bar {
          background-color: $main-danger;
        }
      }

      .actions {
        margin-top: 12px;
        .btn {
          margin-right: 10px;
        }
      }

      .question {
        margin: 20px 0;
        font-size: 1.5em;
      }
    }
  }
}
