.content.inventory {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: #e7eaec;

  .heading {
    border-bottom: 1px solid #E6ECF1;
    padding: 20px 0;

    > h1 {
      margin: 0;
      font-weight: 300;
    }

    > p {
      margin-top: 10px;
      padding: 0;
      color: #aaa;
    }
  }

  .item {
    margin: 10px 30px;
    padding: 30px;
    text-align: left;
    border: 1px solid #E6ECF1;
    background-color: white;

    .header {
      display: flex;
      align-items: center;

      img {
        height: 50px;
        width: auto;
      }

      .title {
        font-size: 1.5em;
        margin-left: 20px;
      }
    }

    .description {
      padding: 20px;
      font-weight: 200;
      color: #aaa;
    }
  }
}
